.project {
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.project h3 {
  color: var(--blue);
}

.project p {
  overflow-wrap: break-word;
  width: 90%;
  margin-bottom: 2rem;
}

.projectHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.projectLink {
  color: var(--white);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: var(--aqua);
  border-radius: 10px;
  padding:0.5rem;
}
.projectLink:hover {
  background-color: var(--purple);
}

.skills {
  display: flex;
  justify-content: flex-end;
}

.skill {
  font-size: 1.8rem;
  background-color: #9267f056;
  border-radius: 15px;
  padding: 0 0.5rem;
  margin-right: 1rem;
}
