.container {
  width: 95%;
  margin: 0 auto;
}

.name {
  background-color: var(--purple);
  border-radius: 20px;
  margin: 2rem 0;
  padding-left: 2rem;
}

.grid {
  display:flex;
  flex-direction: column;
  gap: 2rem;
}

@media (min-width: 768px){
  .grid {
    width: 100%;
    display: grid;
    grid-template-columns: .62fr 1fr 1fr 1fr;
    grid-template-rows: .5fr 1.5fr;
    gap: 2rem;
  } 
}


.grid .image {
  width: 100%;
  border-radius: 20px;
}

/*Identity*/
.details {
  border-radius: 20px;
  background-color: var(--aqua);
  padding: 3rem 2rem;
  margin-bottom: 1rem;
  text-align: center;
  font-weight: 700;
}

.details:nth-of-type(2) {
  background-color: var(--red);
}

.details:last-of-type {
  background-color: var(--orange);
  margin-bottom: 0;
}

/*About me*/
.aboutme {
  padding-left: 2rem;
  grid-column: 3 / 5;
}

.aboutme p {
  font-size: 1.7rem;
}


/*Projects*/
.projects {
  grid-column: -5 / -2;
}

.projects, .experience {
  grid-row: 2 / 3;
  margin-bottom: 2rem;
}

/*Experience*/
.experience {
  grid-column: -2 / -1;
}